body, html {
  background-image: linear-gradient(to top, #80b6bf59 0%, #6c848700 99%, #ffffff82 100%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

/* ***** nav ***** */
.user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: larger;
}

#user-name,
#user-daily-step-goal,
#step-goal-comparison {
  padding: 0em .8em;
  display: flex;
  align-items: center;
}

#more-info {
  padding: 0.5rem, 0.8rem;
  display: flex;
  align-items: center; 
}

nav .dropdown-content {
  min-width: 20vw;
  min-height: 15vh;
}

.user-icon {
  height: 50px;
  width: 50px;
  padding: .7em 1em 0 1em
}

.user {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ***** main ***** */

main {
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}


/* ***** dropdown ***** */

.hidden {
  display: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown :hover {
  cursor: pointer;
}

.sleep-dropdown, .hydration-dropdown {
  display: flex;
  flex-direction: row;
}

#sleep, #hydration {
  margin: 0 0.3em 1em 1em 
}

.dropdown-arrow {
  margin: 0;
  transform: rotate(-90deg);
  transform-origin: center; 
  height: 1.2em;
  width: 1.2em;
  display: flex;
  align-items: baseline;
  position:relative
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80vw;
  min-height: 40vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
